.aunblur-1 {
  -webkit-filter: blur(0.0000000000001px);
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  /* -webkit-transform: translate3d(0, 0, 0) !important; */
  /* transform: translate3d(0, 0, 0) !important; */
}

.aunblur-2 {
  -webkit-font-smoothing: antialiased;
}
